.wrapper {
  margin: 30px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: var(--font-size-lg);
  text-align: center;
  margin-bottom: 24px;
}

.btn {
  margin-bottom: 16px;
}

.loadMoreBtn {
  margin-top: 16px;
}

.noResults {
  font-style: italic;
  color: #777;
  margin-top: 10px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    margin: 40px auto;
  }

  .title {
    font-size: 32px;
    margin-bottom: 36px;
  }

  .btn {
    margin-bottom: 24px;
  }

  .loadMoreBtn {
    margin-top: 24px;
  }
}
