.wrapper {
  margin: 30px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: var(--font-size-xl);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px;
}

.section {
  display: block;
  margin-bottom: 20px;
}

.sectionTitle {
  display: block;
  padding: 8px 12px;
  border-radius: var(--border-radius);
  background-color: var(--color-btn-bg);
  color: var(--color-btn-txt);
  margin-bottom: 16px;
  font-size: var(--font-size-lg);
}

.text,
.list {
  margin-left: 20px;
}

.item {
  margin-bottom: 12px;
}

.subtitle {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

.noResults {
  font-style: italic;
  color: #777;
  margin-top: 10px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    margin: 40px auto;
  }

  .title {
    margin: 0 auto;
    font-size: 32px;
    margin-bottom: 36px;
  }

  .section {
    margin-bottom: 24px;
  }

  .sectionTitle {
    font-size: var(--font-size-xl);
  }
}
