.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

.searchbox {
  position: relative;
  width: 280px;
}

.input {
  outline: none;
  width: 280px;
  padding: 8px 40px 8px 40px;
  border: 1px solid var(--color-btn-bg);
  border-radius: var(--border-radius);
  font-size: var(--font-size-sm);
  transition: 0.2s ease all;
}

.inputIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  pointer-events: none;
}

.input::placeholder {
  color: var(--color-btn-disabled-bg);
}

.input:focus {
  border: 2px solid var(--color-btn-hover-bg);
  box-shadow: 0 0 0 3px var(--color-modal-bg);
}

.clear {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  transform-origin: center;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    gap: 36px;
    margin-bottom: 48px;
  }

  .searchbox {
    width: 400px;
  }

  .input {
    width: 400px;
    font-size: var(--font-size-md);
    padding: 8px 40px 8px 40px;
  }

  .input:hover {
    border-color: var(--color-btn-hover-bg);
  }

  .clear:hover {
    transform: translateY(-50%) scale(1.2);
  }
}
