.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.arrow {
  height: 16px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  height: 24px;
}

.button:hover {
  transform: scale(1.2);
}

@media only screen and (min-width: 768px) {
  .arrow {
    height: 20px;
  }
}
