.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn {
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.2);
}

@media only screen and (min-width: 1240px) {
  .actions {
    gap: 20px;
  }
}
