.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.legend {
  font-size: 16px;
  font-weight: 600;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  /* white-space: nowrap; */
  position: relative;
}

.label > div {
  width: 100%;
  position: relative;
}

.selectLocal {
  width: 100%;
  padding: 6px 8px;
  font-size: 14px;
  border: 1px solid #bbb;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
}

.error {
  color: var(--color-error);
  font-size: 12px;
  margin: 2px 0 0 0;
  padding-left: 4px;
  font-weight: 500;
  display: block;
  max-width: 70px;
  word-wrap: break-word;
  white-space: normal;
  display: block;
}

.inputLocalOperator {
  width: 100%;
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #bbb;
  border-radius: 6px;
  background-color: #e0e0e0;
  color: #555;
  cursor: not-allowed;
}

.inputEncomenda {
  width: 100%;
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #bbb;
  border-radius: 6px;
}

.inputClient {
  width: 100%;
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #bbb;
  border-radius: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown {
  position: absolute;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.dropdownItem {
  padding: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }

  .fieldset {
    flex-direction: row;
    gap: 24px;
    margin-bottom: 24px;
    width: 50%;
    padding: 16px;
  }

  .legend {
    margin-bottom: 8px;
  }

  .selectLocal {
    width: 80px;
  }

  .inputLocalOperator {
    width: 140px;
  }

  .inputEncomenda {
    width: 80px;
  }

  .inputClient {
    width: 160px;
  }

  .dropdown {
    width: 220px;
  }

  .dropdownItem:hover {
    background-color: #f0f0f0;
  }
}

@media only screen and (min-width: 1240px) {
  .inputLocalOperator {
    width: 200px;
  }

  .inputClient {
    width: 220px;
  }
}
