.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.main {
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
}

.footer {
  position: sticky;
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 760px;
    padding: 0 16px;
  }
}

@media only screen and (min-width: 1240px) {
  .container {
    max-width: 1240px;
    padding: 0 20px;
  }
}
