.navigation {
  display: none;
}

.link {
  color: var(--color-btn-txt);
  border-radius: var(--border-radius);
  padding: 8px 16px;
  user-select: none;
  background-color: var(--color-btn-bg);
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .link:hover {
    background-color: var(--color-btn-hover-bg);
  }

  .active {
    background-color: var(--color-btn-hover-bg);
    transform: scale(0.97);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
