.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-radius: var(--border-radius);
  user-select: none;
  background-color: var(--color-header-bg);
  font-size: var(--font-size-sm);
  box-shadow: var(--box-shadow);
}

.logo {
  height: 65px;
  width: 100px;
}

.link {
  color: var(--color-btn-txt);
  border-radius: var(--border-radius);
  padding: 8px 16px;
  user-select: none;
  background-color: var(--color-btn-bg);
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .logo {
    height: 85px;
    width: 120px;
  }

  .burgerBtn {
    display: none;
  }

  .link:hover {
    background-color: var(--color-btn-hover-bg);
  }

  .active {
    background-color: var(--color-btn-hover-bg);
    font-weight: 700;
    transform: scale(0.97);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
