.container {
  width: 230px;
  padding: 10px;
}

.header,
.info,
.history {
  border: var(--color-border) 1px solid;
  border-radius: var(--border-radius);
  padding: 0;
  overflow: hidden;
  margin-bottom: 16px;
}

.history {
  margin-bottom: 0px;
}

.title {
  background-color: var(--color-header-bg);
  border-bottom: var(--color-border) 1px solid;
  font-size: var(--font-size-lg);
  color: var(--color-txt);
  padding: 10px 16px;
  margin: 0;
}

.span {
  font-weight: var(--font-weight-bold);
}

.headerList,
.infoList,
.historyList {
  padding: 10px 16px;
}

.headerList {
  display: flex;
  gap: 20px;
}

.headerItem,
.infoItem,
.historyItem {
  padding: 0 0 8px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 16px;
    width: 640px;
  }
}

@media only screen and (min-width: 1240px) {
  .container {
    padding: 32px;
    width: 800px;
  }
}
