.container {
  padding: 32px;
  width: 800px;
  height: 100%; /* займатиме всю доступну висоту модалки */
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  flex: 1; /* контейнер займає всю висоту модалки */
}

.history {
  border: var(--color-border) 1px solid;
  border-radius: var(--border-radius);
  padding: 0;
  /* overflow: hidden; */
  margin-bottom: 16px;
  flex: 1; /* займає весь простір доступний для прокрутки */
  overflow-y: auto; /* робимо прокрутку */
  margin-bottom: 0px;
}

.title {
  background-color: var(--color-header-bg);
  border-bottom: var(--color-border) 1px solid;
  font-size: var(--font-size-lg);
  color: var(--color-txt);
  padding: 10px 16px;
  margin: 0;
  position: sticky; /* робимо заголовок “липким” */
  top: 0;
}

.span {
  font-weight: var(--font-weight-bold);
}

.historyList {
  padding: 10px 16px;
}

.historyItem {
  padding: 0 0 8px;
}

.historyItem:last-child {
  border-bottom: none;
}
