.form {
  width: 230px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.button {
  width: 150px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .form {
    width: 640px;
    padding: 16px;
  }
}

@media only screen and (min-width: 1240px) {
  .form {
    width: 1000px;
    padding: 32px;
  }
}
