.container {
  margin: 30px auto;
  margin-top: 20px;
  text-align: center;
  background-color: var(--color-theme);
  border-radius: 16px;
  box-shadow: var(--box-shadow);
}

.title {
  font-size: var(--font-size-xl);
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.text {
  color: var(--color-text);
  margin-bottom: 16px;
  line-height: 1.5;
}

.list {
  margin-bottom: 16px;
  text-align: left;
  display: inline-block;
}

.item {
  margin-bottom: 10px;
}

.linkBtn {
  margin: 0 6px;
  color: var(--color-btn);
  font-weight: var(--font-weight-bold);
  transition: color 0.2s ease;
}

.dashboard {
  margin: 30px auto;
}

.welcome {
  font-size: var(--font-size-xl);
  margin-bottom: 20px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.statCard {
  background: #f5f5f5;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.listTitle {
  margin-bottom: 16px;
}

.noResults {
  font-style: italic;
  color: #777;
  margin-top: 10px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 800px;
    margin-top: 40px;
    padding: 40px 20px;
    text-align: center;
  }

  .title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .text {
    margin-bottom: 20px;
  }

  .list {
    margin-bottom: 20px;
  }

  .linkBtn:hover {
    color: var(--color-btn-hover);
    text-decoration: underline;
  }

  .dashboard {
    margin: 24px auto;
  }

  .welcome {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .statCard {
    flex: 1 1 300px;
    padding: 16px;
    text-align: left;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .statCard:last-child {
    flex: 2 1 400px;
  }

  .listTitle {
    font-size: var(--font-size-lg);
  }
}
